.Header{
    height: 10vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.Logo{
    text-align: center;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.LogoName{
    color: white;
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.LogoTagline{
    color: white;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}