#parchment {
  height: 100%;
  width: 100%;
  background-image: url("../assets/parchment_png.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content:start;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.wok {
    height: 50%;
    width: 52%;
    mix-blend-mode: overlay;
    margin: auto;
}

.checkbox{
  width: fit-content;
  background-image: url("../assets/checkbox.png");
  background-repeat: no-repeat;
}