.App {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("./assets/bg_cibo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
} 

.body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bowlAndWords{
  height: 100%;
  width: 100%;
  scale: 90%;
}