.App {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("./assets/bg_cibo.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bowlAndWords{
  height: 100vh;
  scale: 90%;
}